<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Fruit Selection Confirmation</title>
	</head>
	<body>
		Your favorite fruit is {{fruit}}
	</body>
</html>
