<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Hello World!</title>
	</head>
	<body>
		<p>Welcome {{username}}</p>
		<ul>
			%for thing in things:
			<li>{{thing}}</li>
			%end
		</ul>
		<form action="/favorite_fruit" method="POST" accept-charset="utf-8">
			What is your favorite fruit?
			<input type="text" name="fruit" id="fruit" value="">
			<br>
			<input type="submit" value="Continue →">
		</form>
	</body>
</html>
